// Colors
$color-primary: #824efb;
$color-secondary: #ff990f;
$color-background: #824efb;
$color-white: #ffffff;
$color-black: #000;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-link: #05a688;

// Fonts

$font-primary: "Poppins", sans-serif;
$font-secondary: "Lato", sans-serif;
